<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zking.gofcrm.authority.mapper.SysAuthorityMapper">

  <cache type="com.zking.gofcrm.common.redis.RedisCache"/>

  <resultMap id="BaseResultMap" type="com.zking.gofcrm.authority.model.SysAuthority">
    <id column="auth_id" jdbcType="VARCHAR" property="authId" />
    <result column="auth_parent_id" jdbcType="VARCHAR" property="authParentId" />
    <result column="auth_type" jdbcType="VARCHAR" property="authType" />
    <result column="auth_text" jdbcType="VARCHAR" property="authText" />
    <result column="auth_url" jdbcType="VARCHAR" property="authUrl" />
    <result column="auth_tip" jdbcType="VARCHAR" property="authTip" />
    <result column="auth_image" jdbcType="VARCHAR" property="authImage"/>
  </resultMap>
  <sql id="Base_Column_List">
    auth_id, auth_parent_id, auth_type, auth_text, auth_url, auth_tip, auth_image
  </sql>


  <!-- 根据编号获取一个URL -->
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select auth_url
    from sys_authority
    where auth_id = #{authId,jdbcType=VARCHAR}
  </select>


  <!-- 条件查询，获取权限信息 -->
  <select useCache="true" id="selectMap" resultMap="BaseResultMap" parameterType="map">
    SELECT
    C.auth_id, C.auth_parent_id, C.auth_type, C.auth_text, C.auth_url, C.auth_tip, C.auth_image
    from sys_user as A
    LEFT JOIN user_role as Z ON Z.user_id = A.user_id
    LEFT JOIN sys_role as B ON B.role_id = Z.role_id
    LEFT JOIN role_authority as Y ON Y.role_id = B.role_id
    LEFT JOIN sys_authority as C ON C.auth_id = Y.auth_id
    WHERE A.user_name = #{userName, jdbcType=VARCHAR}
    <!-- 父权限编号 -->
    <if test="authParentId != null and authParentId != ''">
      AND C.auth_parent_id = #{authParentId, jdbcType=VARCHAR}
    </if>
    <!-- 权限类型 -->
    <if test="authType != null and authType != ''">
      AND C.auth_type = #{authType, jdbcType=VARCHAR}
    </if>
    GROUP BY C.auth_id;
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from sys_authority
    where auth_id = #{authId,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="com.zking.gofcrm.authority.model.SysAuthority">
    insert into sys_authority (auth_id, auth_parent_id, auth_type, 
      auth_text, auth_url, auth_tip
      )
    values (#{authId,jdbcType=VARCHAR}, #{authParentId,jdbcType=VARCHAR}, #{authType,jdbcType=VARCHAR}, 
      #{authText,jdbcType=VARCHAR}, #{authUrl,jdbcType=VARCHAR}, #{authTip,jdbcType=VARCHAR}
      )
  </insert>

  <insert id="insertSelective" parameterType="com.zking.gofcrm.authority.model.SysAuthority">
    insert into sys_authority
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="authId != null">
        auth_id,
      </if>
      <if test="authParentId != null">
        auth_parent_id,
      </if>
      <if test="authType != null">
        auth_type,
      </if>
      <if test="authText != null">
        auth_text,
      </if>
      <if test="authUrl != null">
        auth_url,
      </if>
      <if test="authTip != null">
        auth_tip,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="authId != null">
        #{authId,jdbcType=VARCHAR},
      </if>
      <if test="authParentId != null">
        #{authParentId,jdbcType=VARCHAR},
      </if>
      <if test="authType != null">
        #{authType,jdbcType=VARCHAR},
      </if>
      <if test="authText != null">
        #{authText,jdbcType=VARCHAR},
      </if>
      <if test="authUrl != null">
        #{authUrl,jdbcType=VARCHAR},
      </if>
      <if test="authTip != null">
        #{authTip,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zking.gofcrm.authority.model.SysAuthority">
    update sys_authority
    <set>
      <if test="authParentId != null">
        auth_parent_id = #{authParentId,jdbcType=VARCHAR},
      </if>
      <if test="authType != null">
        auth_type = #{authType,jdbcType=VARCHAR},
      </if>
      <if test="authText != null">
        auth_text = #{authText,jdbcType=VARCHAR},
      </if>
      <if test="authUrl != null">
        auth_url = #{authUrl,jdbcType=VARCHAR},
      </if>
      <if test="authTip != null">
        auth_tip = #{authTip,jdbcType=VARCHAR},
      </if>
    </set>
    where auth_id = #{authId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zking.gofcrm.authority.model.SysAuthority">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update sys_authority
    set auth_parent_id = #{authParentId,jdbcType=VARCHAR},
      auth_type = #{authType,jdbcType=VARCHAR},
      auth_text = #{authText,jdbcType=VARCHAR},
      auth_url = #{authUrl,jdbcType=VARCHAR},
      auth_tip = #{authTip,jdbcType=VARCHAR}
    where auth_id = #{authId,jdbcType=VARCHAR}
  </update>
</mapper>