<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!--1) use-dafault-filters="false"的情况下，根据表达式包含(include-filter)或排除(exclude-filter)指定包-->
    <context:component-scan base-package="com.zking.gofcrm" use-default-filters="false">
        <context:include-filter type="regex" expression=".+\.controller\..*"/>
        <!--<context:exclude-filter type="regex" expression=".+\.controller2\..*"/>-->
    </context:component-scan>

    <!--2) 此标签默认注册DefaultAnnotationHandlerMapping和AnnotationMethodHandlerAdapter -->
    <mvc:annotation-driven/>

    <!-- ************************ 视图模式 ********************** -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!-- viewClass需要在pom中引入两个包：standard.jar and jstl.jar -->
        <property name="viewClass"
                  value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/WEB-INF/view/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!--4) 单独处理图片、样式、js等资源 -->
    <mvc:resources location="/style/" mapping="/style/**"/>
    <mvc:resources location="/images/" mapping="/images/**"/>
    <mvc:resources location="/mylib/" mapping="/mylib/**"/>
    <mvc:resources location="/html/" mapping="/html/**"/>
    <mvc:resources location="/assets/" mapping="/assets/**"/>
    <mvc:resources mapping="/common/**" location="/common/"/>


<!-- ********************* 服务器端验证 ************************ -->
    <!-- 高版本的spring整合JSR 303验证使用  mvc:annotation-driven  无效，form：errors获取不到值，
         此时应该配置如下操作-->
    <bean class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
        <property name="providerClass" value="org.hibernate.validator.HibernateValidator"/>
        <property name="validationMessageSource" ref="messageSource"/>
    </bean>
    <!-- JSR 303 依赖国际化支持 -->
    <bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <property name="useCodeAsDefaultMessage" value="false"/>
        <property name="defaultEncoding" value="UTF-8"/>
        <property name="cacheSeconds" value="60"/>
    </bean>

</beans>